body {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	font-family: sans-serif;
	color: blue;
	background-color: grey;
}
#cardbody {
	height: 50vh;
	width: 90vh;
	border: blue 3px solid;
	background-color: white;
	margin: 40px;
	font-size: 30px;
	text-align: center;
}	
